---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro is great</h1>
		<h2>And it works flawlessy</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quas, obcaecati laboriosam molestias dicta adipisci dolorum doloremque, alias aliquid aspernatur enim. Distinctio voluptates perferendis alias error laborum aut quod nesciunt?</p>
	</body>
</html>
